extends layout

block content
    header
      .container
          .left
            ul
              li
                div
                  a(href='/') Home
              |   
              li
                div
                  a(href='https://github.com/weberl48/spotify-api-visualizer') Github
              |   
              li
                div
                  a(href='#home') Contact
              |   
              li
                div
                  a(href='#home') About 
          .right
            #show-links
              if user
                a(href='/visualize/user/' + userId) #{user}'s Dashboard
                br
                a(href='/visualize/logout') Logout
              else
                a#show-login(href='#') Login 
                br
                a(href='/visualize/sign-up') Sign Up!
            #hidden-login
              form(action='/visualize/login', method='POST')
                label User Name
                input(type='text', name='userName', style='color: black;')
                if error
                  p.error= error
                label Password
                input(type='password', name='password', style='color: black;')
                input(type='submit', value='Login', style='color: black;')
                a#cancel(href='#') Cancel
      .main
        .search
              //- h1 Artist Search
              input#search(type='text', placeholder='Search for Artist')
              br
              input#search-button(type='button', value='Search')  
      #artist-info
        h1#song-name Artist - Album
        if user
         img#thumbs-up(src='images/thumbs-up.png')
         p(style='display: inline-block') - Like
      div.canvas
         &nbsp;&nbsp;&nbsp;&nbsp;
         img#pause(src='images/pause.png')
         img#play(src='images/play-button.png')
        //-  p(style='display: inline-block') - Like
      div.render
        canvas#analyser_render(height='200', width='1250')
        //-  h2  Powered By Spotify and Web Audio
        .results
      //- #mp3_player
      //-   #audio_box
      audio#player(loop=true autoplay=false src='sample.mp3' type='audio/mp3')
      //-   | &#x9;
    script(src='javascripts/visualizer.js')
