body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#myCanvas {
  background-color: black;
}

.album {
  margin: 20px;
}

.album:hover {
  cursor: pointer;
}
